<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Chart.js CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

    <title>Dashboard</title>
</head>
<style>
    body {
        display: flex;
    }

    .container-left {
        width: 30%;
        float: left;
    }

    .container-right {
        width: 70%;
        float: right;
    }
</style>
<body>

<div class="container-left">
    <h1>Add Data</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add">
    </form>
</div>
<div class="container-right">
    <canvas id="myChart" width="400" height="250"></canvas>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for data in data %} '{{ data.country }}', {% endfor %}],
                datasets: [{
                    label: 'Countries',
                    data: [{% for data in data %} '{{ data.population }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                },
                    {
                        label: 'Town',
                        data: [{% for data2 in data2 %} '{{ data2.population }}', {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>

</body>
</html>