@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css';

body{
    background-color: bisque;
}

.icon-box{
    background-color: rgb(214, 189, 158);
    border-width: 5px;
    border-color: rgb(130, 109, 84);
    border-style: solid;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 10%;
}
.icon-bar{
    padding: 4%;
}

.icon-bar li{
    display: inline-block;
    list-style-type: none;
    margin-left: 65px;
}

i{
    border-radius: 50%;
    padding: 20px;
    background-color: rgb(240, 223, 201);
}
