{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="center">
            <div class="container">
                <div class="text">
                    Login Form
                </div>
                <form action="#">
                    <div class="data">
                        <label>Email<input type="text" required></label>
                    </div>
                    <div class="data">
                        <label>Password<input type="password" required></label>
                    </div>
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">login</button>
                    </div>
                    <div class="signup-link">
                        Not a member? <a href="{% url 'register' %}">Signup now</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
