body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    margin: auto;
    margin-top: 10%;
    padding-bottom: 10px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 3px 8px 35px 13px #888888;
    shape-outside:border-box;
}

.image{
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.text{
    text-align: center;
    margin: 30px;
    margin-bottom: 90px;
}

.title{
    font-weight: bold;
    text-align: left;
}

.button{
    color: white;
    background-color: green;
    padding: 10px;
    float: right;
    border: none;
    border-radius: 8px;
    margin-top: 18px;
}

