{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if cars %}
        <section id="catalogue">
            <h1>Total cars: {{ cars_count }}</h1>
            {% for car in cars %}
                <div class="car-card">
                    <div class="image-wrap">
                        <!-- car image -->
                        <img src="{{ car.image_url }}" alt="{{ cars.model }}">
                    </div>
                    <!-- car type -->
                    <h3>{{ car.type }}</h3>
                    <!-- car model -->
                    <h1>{{ car.model }}</h1>
                    <div class="details-buttons">
                        <!-- car details button -->
                        <a href="{% url 'car details' car_id=car.pk %}" class="details-btn">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <p class="no-articles">No cars yet</p>
    {% endif %}

{% endblock %}
